
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Client</title>
    <link rel="stylesheet" href="~/Content/TwitterAPI.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Twitter.js"></script>
</head>
<body class="container">
    <div class="container width-70per">
        <div class="first">
            Twitter
            <br />
            <input class="textbox" id="txt_Search" type="text" placeholder="Search tweets" />
        </div>
        <div id="div_twitterView">
        </div>
    </div>
</body>
</html>



