<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="ConsumerKey" value="RQu8esquc8v8gE6XUkdrhVt7q"/>
      <add key="ConsumerSecret" value="ZebpYOBLXbwLMd4K7TAC8nA2vf44MfV2Xpz3EfogiZNxgh23JB"/>
      <add key="TwitterBaseUrl" value="https://api.twitter.com/"/>
      <add key="AuthUrl" value="oauth2/token"/>
      <add key="TimeLineUrl" value="1.1/statuses/user_timeline.json"/>
      <add key="username" value="salesforce"/>
      <add key="tweetcount" value="10"/>
    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
